#header{color:white;}
#disconnect{color:white;float:right;}
.float-cards .list-card-container{width:240px;float:left;margin:0 8px 8px 0;}.float-cards .list-card-container:nth-child(10n+1){clear:left;}